* {
  margin: 0px;
  padding: 0px;
}

li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  margin: auto;
}

.top-bars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-top: 5px; */
  /* padding-top: 10px;
  padding-bottom: 10px; */
  height: 50px;
}
.top-left {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.top-right {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;
  justify-content: center; */
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu {
  height: 15px;
  margin-left: 5px;
}
.signin {
  margin-left: 10px;
}
.sign-in {
  background-color: #4583eb;
  font-weight: bold;
  color: white;
  height: 30px; 
}
.google-logo {
  height: 150px;
  margin-top: 120px;
}
.search-form {
  text-align: center;
}
input[type="text"] {
  margin: 0 auto;
  height: 2.3rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  border-color: #dfe1e5;
  width: 27%;
}
.middle-buttons {
  text-align: center;
  margin-top: 30px;
}
.google-search {
  padding: 12px;
  margin-right: 7px;
  border-color: #f4f4f4;
  background-color: #f1f1f1;
}
.lucky {
  padding: 12px;
  border-color: #f4f4f4;
  background-color: #f1f1f1;
}
.footer-bars {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #f2f2f2;
  height: 30px;
  padding-top: 12px;
}
.footer-left li {
  padding-left: 15px;
}
.footer-right li {
  padding-right: 15px;
}
